/* Elements */
html{
    text-align: center;
}
li > a{
    text-decoration: none;
}
ul{
    list-style: none;
    border-left: 0.3rem ridge var(--third-color);
    border-right: 0.3rem ridge var(--third-color);
    text-align: center;
    width: 60%;
    background-color: var(--fourth-color);
    margin: auto;
    padding: 0.125rem;
    margin-top: 1rem;
}

/* Identifiers */
/* Classes */
.red{
    padding: 0.125rem;
}