<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{images/faviconIria.png}">
    <title>Contacto</title>
    <link rel="stylesheet" th:href="@{css/reseteo.css}"/>
    <link rel="stylesheet" th:href="@{css/comun.css}"/>
    <link rel="stylesheet" th:href="@{css/contacto.css}"/>
    <script th:src="@{js/comun.js}" defer></script>
    <script th:src="@{js/navsticky.js}" defer></script>
</head>
<body>
    <header>
        <div id="cabecera">
            <a class="logo-a" th:href="@{/}"><img class="logo" th:src="@{images/NeoCretacico.png}" alt="logo dibujos neo cretácico"></a>
            <h1>Dibujos Neo Cretácico</h1>
        </div>
        <!-- <div id="progreso"></div> -->
        <nav id="arriba">
            <a th:href="@{/}">Principal</a>
            <a th:href="@{/portfolio}">Portfolio</a>
            <a th:href="@{/encargos}">Encargos</a>
            <a th:href="@{/contacto}">Contacto</a>
            <div class="dropdown">
                <img id="usericon" class="usericon" src="@{images/unregisteredicon.png}">
                <div class="dropdown-content ocultar">
                    <a sec:authorize="isAuthenticated()" th:href="@{/usuario/editar}">Editar perfil</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/usuario/changepassword}">Cambiar contraseña</a>
                    <a sec:authorize="hasAnyRole('MANAGER', 'ADMIN')" th:href="@{/gestionar}">Gestionar</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/usuario/register}">Registrarse</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Iniciar sesión</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Salir</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1>Contacto</h1>
        <p>Si necesitas ponerte en contacto conmigo puedes usar cualquiera de las siguientes formas:</p>
        <div class="redes">
            <ul>
                <li class="red"><span class="negrita">Twitter:</span> <a href="https://x.com/iria_novoa" target="_blank">@iria_novoa</a></li>
                <li class="red"><span class="negrita">Instagram:</span> <a href="https://www.instagram.com/austin_astro/" target="_blank">austin_astro</a></li>
                <li class="red"><span class="negrita">Discord:</span> <a href="https://discordapp.com/users/iria8023" target="_blank">iria8023</a></li>
                <li class="red"><span class="negrita">Correo:</span> <a href="mailto:iriahn22@gmail.com" target="_blank">iriahn22@gmail.com</a></li>
                <li class="red"><span class="negrita">Telegram:</span> <a href="https://t.me/Iriahn" target="_blank">Iria hn (@Iriahn)</a></li>
            </ul>
        </div>
        <img class="avatar2" th:src="@{images/IriaPortatil.png}">
    </main>
    <footer>©<span id="year"></span>&nbsp;- Iria Hidalgo Novoa UDAW2</footer>
   
</body>
</html>
