<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{images/comun/faviconIria.png}">
    <title>Portfolio</title>
    <link rel="stylesheet" th:href="@{css/reseteo.css}"/>
    <link rel="stylesheet" th:href="@{css/comun.css}"/>
    <link rel="stylesheet" th:href="@{css/portfolio.css}"/>
    <script th:src="@{js/comun.js}" defer></script>
    <script th:src="@{js/portfolio.js}" defer></script>
</head>
<body>
    <header>
        <div id="cabecera">
            <a class="logo-a" th:href="@{/}"><img class="logo" th:src="@{images/comun/NeoCretacico.png}" alt="logo dibujos neo cretácico"></a>
            <h1>Dibujos Neo Cretácico</h1>
        </div>
        <!-- <div id="progreso"></div> -->
        <nav id="arriba">
            <a th:href="@{/}">Principal</a>
            <a th:href="@{/portfolio}">Portfolio</a>
            <a th:href="@{/encargos}">Encargos</a>
            <a th:href="@{/contacto}">Contacto</a>
            <div class="dropdown">
                <img id="usericon" class="usericon" th:src="@{images/comun/unregisteredicon.png}">
                <div class="dropdown-content ocultar">
                    <a sec:authorize="isAuthenticated()" th:href="@{/usuario/editar}">Editar perfil</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/usuario/changepassword}">Cambiar contraseña</a>
                    <a sec:authorize="hasAnyRole('MANAGER', 'ADMIN')" th:href="@{/gestionar}">Gestionar</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/usuario/register}">Registrarse</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Iniciar sesión</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Salir</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <aside>
            <nav id="clasificacion">
                <ul>
                    <li class="hamburguer">&#9776;</li>
                    <span id="hamburguer-content" class="hamburguer-nocontent">
                        <li><a class="nivel-uno" href="#digital">Digital</a></li>
                        <li>
                            <ul>
                                <li class="nav-lat"><a class="nivel-dos" href="#anime">Anime</a></li>
                                <li class="nav-lat"><a class="nivel-dos" href="#varios">Varios</a></li>
                                <li class="nav-lat"><a class="nivel-dos" href="#logos">Logos</a></li>
                                <li class="nav-lat"><a class="nivel-dos" href="#banderas">Banderas</a></li>
                                <li class="nav-lat"><a class="nivel-dos" href="#personas">Personas</a></li>
                                <li class="nav-lat"><a class="nivel-dos" href="#emotes">Emotes</a></li>
                            </ul>
                        </li>    
                        <li><a class="nivel-uno" href="#tradicional">Tradicional</a></li>
                        <li>
                            <ul>
                                <li><a class="nivel-dos" href="#jk">Jujutsu Kaisen</a></li>
                                <li><a class="nivel-dos" href="#tpn">The Promised Neverland</a></li>
                                <li><a class="nivel-dos" href="#bl">Blue Lock</a></li>
                                <li><a class="nivel-dos" href="#ie">Inazuma Eleven</a></li>
                                <li><a class="nivel-dos" href="#naruto">Naruto</a></li>
                            </ul>
                        </li>
                        <li><a class="nivel-uno" href="#regalos">Regalos</a></li>
                    </span>
                </ul>
            </nav>
        </aside>
        <div class="content">
            <h1>Portfolio</h1>
            <p>En este apartado encontrarás ejemplos de mi trabajo junto a un título y una descripción, en caso de haber sido de haber sido un encargo también aparecerá el precio.</p>
            <p>En este <a href="https://drive.google.com/drive/folders/12xUbQpmrep_8z1N2aL81zLmX4d06mj2a?usp=drive_link" target="_blank">drive</a> podrás encontrar más dibujos junto a los timelapses (vídeos del proceso) de algunos de ellos.</p>
            <section class="digital">
                <br>
                <h2 id="digital">Digital</h2>
                <section id="sanime">
                    <!-- <h3 id="anime">Anime</h3> -->
                </section>
                <section id="slogos">    
                    <!-- <h3 id="logos">Logos</h3> -->
                </section>
                <section id="sbanderas">
                    <!-- <h3 id="banderas">Banderas</h3> -->
                </section>
                <section id="spersonas">
                    <!-- <h3 id="personas">Personas</h3> -->
                </section>
                <section>
                    <h3 id="emotes">Emotes</h3>
                    <table>
                        <tr>
                            <td colspan="3"><img class="fototabla" alt="emote de un hacha clavada en el suelo" th:src="@{/images/emotes/DgeHacha.png}"></td>
                        </tr>
                        <tr>
                            <td><img class="fototabla" alt="dibujo de charmander con una hoguera" th:src="@{/images/emotes/Dge004Charmander.png}"></td>
                            <td><img class="fototabla" alt="dibujo de charmeleon con una chupa y gafas de sol" th:src="@{/images/emotes/Dge005Charmeleon.png}"></td>
                            <td><img class="fototabla" alt="dibujo de charizard versión chorizo" th:src="@{/images/emotes/Dge006Chorizard.png}"></td>
                        </tr>
                        <tr>
                            <td><img class="fototabla" alt="dibujo de bulbasaur sobre una valla" th:src="@{/images/emotes/Dge001Bulbasaur.png}"></td>
                            <td><img class="fototabla" alt="dibujo de squirtle con la palabra stop" th:src="@{/images/emotes/Dge007Squirtle.png}"></td>
                            <td><img class="fototabla" alt="dibujo de wartortle apagando la luz" th:src="@{/images/emotes/Dge008Wartortle.png}"></td>
                        </tr>
                    </table>
                </section>
                <section id="svarios">
                    <!-- <h3 id="varios">Varios</h3> -->
                </section>
            </section>
            <section class="tradicional">
                <br>
                <h2 id="tradicional">Tradicional</h2>
                <section id="sjk">
                    <!-- <h3 id="jk">Jujutsu Kaisen</h3> -->
                </section>
                <section id="stpn">
                    <!-- <h3 id="tpn">The Promised Neverland</h3> -->
                </section>
                <section id="sbl">
                    <!-- <h3 id="bl">Blue Lock</h3> -->
                </section>
                <section id="sie">
                    <!-- <h3 id="ie">Inazuma Eleven</h3> -->
                </section>
                <section id="snaruto">
                    <!-- <h3 id="naruto">Naruto</h3> -->
                </section>
            </section>
            <section>
                <section id="sregalos">
                    <!-- <h3 id="regalos">Regalos</h3> -->
                </section>
            </section>
            <p class="abajo"><a href="#arriba">Volver arriba</a></p>
        </div>
    </main>
    <footer>©<span id="year"></span>&nbsp;- Iria Hidalgo Novoa UDAW2</footer>
   
</body>
</html>
