<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/comun/faviconIria.png}">
    <title>Dibujos Neo Cretácico</title>
    <link rel="stylesheet" th:href="@{/css/reseteo.css}"/>
    <link rel="stylesheet" th:href="@{/css/comun.css}"/>
    <script th:src="@{/js/comun.js}" defer></script>
    <script th:src="@{/js/navsticky.js}" defer></script>
</head>
<body>
    <header>
        <div id="cabecera">
            <a class="logo-a" th:href="@{/}"><img class="logo" th:src="@{/images/comun/NeoCretacico.png}" alt="logo dibujos neo cretácico"></a>
            <h1>Dibujos Neo Cretácico</h1>
        </div>
        <!-- <div id="progreso"></div> -->
        <nav id="arriba">
            <a th:href="@{/}">Principal</a>
            <a th:href="@{/portfolio}">Portfolio</a>
            <a th:href="@{/encargos}">Encargos</a>
            <a th:href="@{/contacto}">Contacto</a>
            <div class="dropdown">
                <img id="usericon" class="usericon" th:src="@{/images/comun/unregisteredicon.png}">
                <div class="dropdown-content ocultar">
                    <a sec:authorize="isAuthenticated()" th:href="@{/usuario/editar}">Editar perfil</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/usuario/changepassword}">Cambiar contraseña</a>
                    <a sec:authorize="hasAnyRole('MANAGER', 'ADMIN')" th:href="@{/gestionar}">Gestionar</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/usuario/register}">Registrarse</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Iniciar sesión</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Salir</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1>Nuevo dibujo</h1>
        <form action="#" method="post" th:action="@{/dibujo/new/submit}" th:object="${dibujo}" enctype="multipart/form-data">
            <fieldset>
                <div class="form-group">
                    <label for="titulo">Título: </label>
                    <input name="titulo" id="titulo" type="text" th:field="*{titulo}">
                </div>
                <div class="form-group">
                    <label for="tematica">Temática: </label>
                    <input name="tematica" id="tematica" type="text" th:field="*{tematica}">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción: </label>
                    <input name="descripcion" id="descripcion" type="text" th:field="*{descripcion}">
                </div>
                <div class="form-group">
                    <label for="finalidad">Finalidad: </label>
                    <input name="finalidad" id="finalidad" type="text" th:field="*{finalidad}">
                </div>
                <div class="form-group">
                    <label>Categoría: </label>
                    <select size="1" th:field="*{categoria}">
                        <option th:each="c : ${T(com.example.proyecto.domain.CategoriaEnum).values()}" th:value="${c}" th:text="${c}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Subcategoría: </label>
                    <select size="1" th:field="*{subcategoria}">
                        <option th:each="sc : ${T(com.example.proyecto.domain.SubCategoriaEnum).values()}" th:value="${sc}" th:text="${sc}"></option>
                    </select>
                    
                </div>
                <div class="form-group">
                    <label>Año:</label>
                    <input type="number" th:field="*{anho}">
                </div>
                <div class="form-group">
                    <label>Precio:</label>
                    <input type="number" th:field="*{precio}">
                </div>
                <div class="form-group">
                    <label for="imagen">Adjuntar un fichero:</label>
                    <input type="file" name="file">
                </div>
                <div class="form-group">
                    <label>Completado:</label>
                    <div class="radio-tipo">
                        <input name="tipo" type="radio" th:value="true" th:field="*{completado}"><label>Sí</label>
                        <input name="tipo" type="radio" th:value="false" th:field="*{completado}"><label>No</label>
                    </div>
                </div>
                <button type="submit">Enviar</button>
            </fieldset>
        </form>
    </main>
    <footer>©<span id="year"></span>&nbsp;- Iria Hidalgo Novoa UDAW2</footer>
</body>
</html>