<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{images/comun/faviconIria.png}">
    <title>Dibujos Neo Cretácico</title>
    <link rel="stylesheet" th:href="@{css/reseteo.css}"/>
    <link rel="stylesheet" th:href="@{css/comun.css}"/>
    <script th:src="@{js/comun.js}" defer></script>
    <script th:src="@{js/navsticky.js}" defer></script>
</head>
<body>
    <header>
        <div id="cabecera">
            <a class="logo-a" th:href="@{/}"><img class="logo" th:src="@{images/comun/NeoCretacico.png}" alt="logo dibujos neo cretácico"></a>
            <h1>Dibujos Neo Cretácico</h1>
        </div>
        <!-- <div id="progreso"></div> -->
        <nav id="arriba">
            <a th:href="@{/}">Principal</a>
            <a th:href="@{/portfolio}">Portfolio</a>
            <a th:href="@{/encargos}">Encargos</a>
            <a th:href="@{/contacto}">Contacto</a>
            <div class="dropdown">
                <img id="usericon" class="usericon" th:src="@{images/comun/unregisteredicon.png}">
                <div class="dropdown-content ocultar">
                    <a sec:authorize="isAuthenticated()" th:href="@{/usuario/editar}">Editar perfil</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/usuario/changepassword}">Cambiar contraseña</a>
                    <a sec:authorize="hasAnyRole('MANAGER', 'ADMIN')" th:href="@{/gestionar}">Gestionar</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/usuario/register}">Registrarse</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Iniciar sesión</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Salir</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1>Nuevo dibujo</h1>
        <form action="#" method="post" th:action="@{/dibujo/new/submit}" th:object="${dibujo}" enctype="multipart/form-data">
            <label for="titulo">Título: </label>
            <input name="titulo" type="text" th:field="*{titulo}">
            <br><br>
            <label for="tematica">Temática: </label>
            <input name="tematica" type="text" th:field="*{tematica}">
            <br><br>
            <label for="descripcion">Descripción: </label>
            <input name="descripcion" type="text" th:field="*{descripcion}">
            <br><br>
            <label>Estilo (Anime, Relista...): </label>
            <select size="1" th:field="*{estilo}">
                <option th:each="est : ${listaestilos}" th:value="${est.estilo}" th:text="${est.estilo}"></option>
            </select>
            <br><br>
            <label>Técnica: </label>
            <select size="1" th:field="*{tecnica}">
                <div th:each="tec : ${listatecnicas}">
                    <option th:value="${tec.tecnica}" th:text="${tec.tecnica}"></option>
                </div>
            </select>
            <br><br>
            <label>Año:</label>
            <input type="number" th:field="*{anho}">
            <br><br>
            <label>Precio:</label>
            <input type="number" th:field="*{precio}">
            <br><br>
            Adjuntar un fichero:
            <input type="file" name="file">
            <br><br>
            <button type="submit">Enviar</button>
        </form>
    </main>
    <footer>©<span id="year"></span>&nbsp;- Iria Hidalgo Novoa UDAW2</footer>
</body>
</html>