<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/comun/faviconIria.png}">
    <title>Dibujos Neo Cretácico</title>
    <link rel="stylesheet" th:href="@{/css/reseteo.css}"/>
    <link rel="stylesheet" th:href="@{/css/comun.css}"/>
    <script th:src="@{/js/comun.js}" defer></script>
    <script th:src="@{/js/navsticky.js}" defer></script>
  </head>
  <body>
    <header>
        <div id="cabecera">
            <a class="logo-a" th:href="@{/}"><img class="logo" th:src="@{/images/comun/NeoCretacico.png}" alt="logo dibujos neo cretácico"></a>
            <h1>Dibujos Neo Cretácico</h1>
        </div>
        <!-- <div id="progreso"></div> -->
        <nav id="arriba">
            <a th:href="@{/}">Principal</a>
            <a th:href="@{/portfolio}">Portfolio</a>
            <a th:href="@{/encargos}">Encargos</a>
            <a th:href="@{/contacto}">Contacto</a>
            <div class="dropdown">
                <img id="usericon" class="usericon" th:src="@{/images/comun/unregisteredicon.png}">
                <div class="dropdown-content ocultar">
                    <a sec:authorize="isAuthenticated()" th:href="@{/usuario/editar}">Editar perfil</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/usuario/changepassword}">Cambiar contraseña</a>
                    <a sec:authorize="hasAnyRole('MANAGER', 'ADMIN')" th:href="@{/gestionar}">Gestionar</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/usuario/register}">Registrarse</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Iniciar sesión</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Salir</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
      <h1>Editar curso</h1>
      <form method="post" action="#" th:action="@{/prints/editar/{id}/submit(id=${print.id})}" th:object="${print}">
        <fieldset>
          <div class="form-group">
            <label for="id">Id: </label>
            <input id="id" th:field="*{id}" readonly>
          </div>
          <div class="form-group">
            <label>Estado:</label>
            <select size="1" th:field="*{estado}">
              <option th:each="est : ${T(com.example.proyecto.domain.EstadoPrintEnum).values()}" th:value="${est}" th:text="${est}"></option>
            </select>
          </div>
          <input type="hidden" id="nombre" th:field="*{nombre}">
          <input type="hidden" id="redpreferida" th:field="*{redContacto}">
          <input type="hidden" id="userpreferida" th:field="*{redNombre}">
          <input type="hidden" id="unidades" th:field="*{unidades}">
          <input type="hidden" id="tamano" th:field="*{tamano}">
          <input type="hidden" id="tipo" th:field="*{tipo}">
          <input type="hidden" id="coomentarios" th:field="*{comentarios}">
          <input type="hidden" id="precio" th:field="*{precio}">
          <input type="hidden" id="print" th:field="*{print}">
          <div class="button-container">
            <button type="submit">Enviar</button>
          </div>
        </fieldset>        
      </form>
    </main>
    <footer>©<span id="year"></span>&nbsp;- Iria Hidalgo Novoa UDAW2</footer>
  </body>
</html>